body {
    font-family: "Roboto", Arial, sans-serif;
    
    /* !! So that, hero, content1, 2, 3,
    !! footer's margin will be disappered.
    !! So when making a website's page,
    !! I think, margin: 0px inside body is
    !! mandatory. */
    margin: 0px; 

    /* !! padding, border doesn't work,
    !! don't know why. */
    /* padding: 0px; */
    /* border: 0px; */
}

.hero,
.footer {
    background-color: #1F2937;
}

.hero {
    padding: 10px 10px 70px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header1 {
    display: flex;
    gap: 25px;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px 570px auto 120px;
}

.header-link1,
.header-link2,
.header-link3 {
    gap: 20px;
    color: #E5E7EB;
}

.header2 {
    margin: 40px 10px auto 120px;
    display: flex;
    gap: 10px;
}

.pack1 {
    display: flex;
    flex-direction: column;
    margin-right: 400px;
    gap: 10px;
}

.header-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    border-color: #3882F6;
}

.sign-up,
.sign-up-button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 4px;
    width: 100px;
}

.pack2 {
    width: 880px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
    margin-right: 100px;
}

.image-placeholder {
    color: #E5E7EB;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 25px;
}

.middle-text {
    font-weight: 900;
    font-size: 24px;
}

.box-text {
    display: flex;
    justify-content: center;
    width: 470px;

    /* !! To see what happens. */
    /* gap: 1px; */

    /* !! To see what happens. */
    /* background-color: green; */
}

.box-text1,
.box-text2,
.box-text3,
.box-text4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* !! To see what happens. */
    /* border: 2px solid red; */
}

.box {
    display: flex;
    border: 2px solid #3882F6;
    height: 90px;
    width: 90px;
    border-radius: 10px;
    
    /* !! Wrote "Box" in HTML & used these
    !! CSS Properties to see what happens. */
    /* padding: 10px; */
    /* background-color: blue; */
    /* justify-content: center; */
    /* align-items: center; */
}

.text {
    font-size: 11px;
    text-align: center;
    margin-left: 7px;
    margin-right: 11px;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 191, 191);

    /* ?? the color doesn't suit
    ?? in my monitor ?? */
    /* background-color: #E5E7EB; */
    padding: 40px 485px 40px 485px;
}

.paragraph {
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    color: #1F2937;

    /* ?? the size doesn't suit somehow ?? */
    /* font-size: 36px;  */
}

.author {
    font-weight: 900;
    margin-top: -18px;
    margin-right: -200px;
}

.content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    padding: 20px 40px;
    background-color: #3882F6;
    color:white;
    border-radius: 5px;
    gap: 550px;
}

.bold-text {
    font-size: 17px;
    font-weight: 900;
}

.secondary-text {
    font-size: 12px;
    color: #cacaca;
}

.sign-up-button {
    border-color: white;
}

.footer {
    padding: 20px;
    color: #E5E7EB;
    text-align: center;
}