body {
    font: Roboto, Arial, sans-serif;
    
    /* !! So that, hero, content1, 2, 3,
    !! footer's margin will be disappered.
    !! So when making a website's page,
    !! I think, margin: 0px inside body is
    !! mandatory. */
    margin: 0px;

    /* !! padding, border doesn't work,
    !! don't know why. */
    padding: 0px;
    border: 0px;
    /* background-color: #1F2937; */
}

.hero,
.footer {
    background-color: #1F2937;
    /* color: white; */
}

.hero {
    padding: 10px 10px 70px 10px;

    /* margin: auto; */
    /* border: 2px green; */
    margin: 0;
    display: flex;
    flex-direction: column;
    /* flex-shrink: 1; */
}

.header1 {
    display: flex;
    gap: 25px;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px 570px auto 120px;
}

.header-link1,
.header-link2,
.header-link3 {
    gap: 20px;
    color: #E5E7EB;
}

.header2 {
    margin: 40px 10px auto 120px;
    display: flex;
    gap: 10px;
}

.pack1 {
    display: flex;
    flex-direction: column;
    margin-right: 400px;
    gap: 10px;
}

.header-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    border-color: #3882F6;
}

.sign-up-button {
    border-color: white;
}

.sign-up,
.sign-up-button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 4px;
    width: 100px;
}

.pack2 {
    /* !! By giving height value as auto,
    !! height becomes same as pack1. */
    /* height: auto; */

    width: 880px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
    margin-right: 100px;
}

.image-placeholder {
    color: #E5E7EB;
}

.middle-text,
.text1,
.text2 {
    /* background-color: green; */
}